body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

html {
  scroll-behavior: smooth;
}

.color-theme-0{
  background-color: rgb(182, 201, 183);
}

.color-theme-1{
  background-color: rgb(192, 165, 143);
}

a {
  color: #00B7FF;
}